-- FIX DATABASE: Aggiungi colonna is_blocked e correggi policies

-- Prima verifica se la colonna is_blocked esiste già
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns
                   WHERE table_name = 'profiles' AND column_name = 'is_blocked') THEN
        ALTER TABLE profiles ADD COLUMN is_blocked BOOLEAN DEFAULT FALSE;
        RAISE NOTICE 'Colonna is_blocked aggiunta alla tabella profiles';
    ELSE
        RAISE NOTICE 'Colonna is_blocked già esistente';
    END IF;
END $$;

-- Verifica se la colonna username_locked esiste già
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns
                   WHERE table_name = 'profiles' AND column_name = 'username_locked') THEN
        ALTER TABLE profiles ADD COLUMN username_locked BOOLEAN DEFAULT FALSE;
        RAISE NOTICE 'Colonna username_locked aggiunta alla tabella profiles';
    ELSE
        RAISE NOTICE 'Colonna username_locked già esistente';
    END IF;
END $$;

-- Abilita RLS se non è già abilitato
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE missing_card_reports ENABLE ROW LEVEL SECURITY;

-- Rimuovi tutte le policies esistenti per evitare conflitti
DROP POLICY IF EXISTS "Users can view own profile" ON profiles;
DROP POLICY IF EXISTS "Users can update own profile" ON profiles;
DROP POLICY IF EXISTS "Users can insert own profile" ON profiles;
DROP POLICY IF EXISTS "Admin can view all profiles" ON profiles;
DROP POLICY IF EXISTS "Admin can update all profiles" ON profiles;
DROP POLICY IF EXISTS "Admin can delete profiles" ON profiles;

DROP POLICY IF EXISTS "Users can view own reports" ON missing_card_reports;
DROP POLICY IF EXISTS "Users can insert reports" ON missing_card_reports;
DROP POLICY IF EXISTS "Admin can view all reports" ON missing_card_reports;
DROP POLICY IF EXISTS "Admin can update all reports" ON missing_card_reports;
DROP POLICY IF EXISTS "Admin can delete reports" ON missing_card_reports;

-- Crea nuove policies corrette
-- Policies per profiles
CREATE POLICY "Users can view own profile" ON profiles
FOR SELECT USING (auth.uid() = id);

CREATE POLICY "Users can update own profile" ON profiles
FOR UPDATE USING (auth.uid() = id);

CREATE POLICY "Users can insert own profile" ON profiles
FOR INSERT WITH CHECK (auth.uid() = id);

CREATE POLICY "Admin can view all profiles" ON profiles
FOR SELECT USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

CREATE POLICY "Admin can update all profiles" ON profiles
FOR UPDATE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

CREATE POLICY "Admin can delete profiles" ON profiles
FOR DELETE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

-- Policies per missing_card_reports
CREATE POLICY "Users can view own reports" ON missing_card_reports
FOR SELECT USING (auth.uid() = reported_by);

CREATE POLICY "Users can insert reports" ON missing_card_reports
FOR INSERT WITH CHECK (auth.uid() = reported_by);

CREATE POLICY "Admin can view all reports" ON missing_card_reports
FOR SELECT USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

CREATE POLICY "Admin can update all reports" ON missing_card_reports
FOR UPDATE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

CREATE POLICY "Admin can delete reports" ON missing_card_reports
FOR DELETE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');