-- Verifica struttura tabella profiles
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'profiles' 
ORDER BY ordinal_position;

-- Verifica struttura tabella missing_card_reports  
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'missing_card_reports' 
ORDER BY ordinal_position;

-- Verifica se esistono policies RLS
SELECT schemaname, tablename, rowsecurity 
FROM pg_tables 
WHERE tablename IN ('profiles', 'missing_card_reports');

-- Verifica policies esistenti
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual, with_check 
FROM pg_policies 
WHERE tablename IN ('profiles', 'missing_card_reports') 
ORDER BY tablename, policyname;
