-- SQL per abilitare RLS e creare policies per profiles e missing_card_reports

-- Abilita RLS sulla tabella profiles
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

-- Policy per permettere agli utenti di vedere il proprio profilo
CREATE POLICY "Users can view own profile" ON profiles
FOR SELECT USING (auth.uid() = id);

-- Policy per permettere agli utenti di aggiornare il proprio profilo
CREATE POLICY "Users can update own profile" ON profiles
FOR UPDATE USING (auth.uid() = id);

-- Policy per permettere agli utenti di inserire il proprio profilo
CREATE POLICY "Users can insert own profile" ON profiles
FOR INSERT WITH CHECK (auth.uid() = id);

-- Policy ADMIN: permette all'admin di vedere tutti i profili
CREATE POLICY "Admin can view all profiles" ON profiles
FOR SELECT USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

-- Policy ADMIN: permette all'admin di aggiornare tutti i profili
CREATE POLICY "Admin can update all profiles" ON profiles
FOR UPDATE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

-- Policy ADMIN: permette all'admin di eliminare profili
CREATE POLICY "Admin can delete profiles" ON profiles
FOR DELETE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

-- Abilita RLS sulla tabella missing_card_reports
ALTER TABLE missing_card_reports ENABLE ROW LEVEL SECURITY;

-- Policy per permettere agli utenti di vedere le proprie segnalazioni
CREATE POLICY "Users can view own reports" ON missing_card_reports
FOR SELECT USING (auth.uid() = reported_by);

-- Policy per permettere agli utenti di inserire segnalazioni
CREATE POLICY "Users can insert reports" ON missing_card_reports
FOR INSERT WITH CHECK (auth.uid() = reported_by);

-- Policy ADMIN: permette all'admin di vedere tutte le segnalazioni
CREATE POLICY "Admin can view all reports" ON missing_card_reports
FOR SELECT USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

-- Policy ADMIN: permette all'admin di aggiornare tutte le segnalazioni
CREATE POLICY "Admin can update all reports" ON missing_card_reports
FOR UPDATE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');

-- Policy ADMIN: permette all'admin di eliminare segnalazioni
CREATE POLICY "Admin can delete reports" ON missing_card_reports
FOR DELETE USING (auth.uid() = 'fcade84e-6413-4009-91df-a8c839a170cc');